<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="PMToolContext" connectionString="Data Source=SRV-BTTE-SVN;Initial Catalog=PMDB;User ID=sa; Password=bs@123" providerName="System.Data.SqlClient" />-->
    <add name="PMToolContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PMDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="PMDBEntities" connectionString="metadata=res://*/PMTool.csdl|res://*/PMTool.ssdl|res://*/PMTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PMDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PMDBEntities" connectionString="metadata=res://*/PMTool.csdl|res://*/PMTool.ssdl|res://*/PMTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRV-BTTE-SVN;initial catalog=PMDB;user id=sa;password=bs@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <!-- Configuration for Email -->
    <add key="EnableEmailNotification" value="False"/>
    <!--True or False-->
    <add key="emailfrom" value="testbd2014@gmail.com"/>
    <add key="emailfrompass" value="leads@123"/>
    <!--<add key="EmailFrom" value="mahedee.hasan@bg.com" />
    <add key="EmailFromPass" value="mahedee@23" />-->
    <add key="SMTP" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="EnableSsl" value="True"/>
    <add key="APIBaseAddress" value="http://192.168.1.243:8080/PMTool/"/>
    <add key="API" value="api/FetchMails"/>
    <add key="ScheduleMailAPI" value="api/ScheduleMailsAPI"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.18.0" newVersion="4.2.18.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>