@model PMTool.Models.Priority

@{
    ViewBag.Title = "Edit | Priority";
}

<div class="pagetitle">
    <h1>
        Label Edit
    </h1>
    <span>Edit Label Tag below....</span>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
     

    @Html.HiddenFor(model => model.PriorityID)

    <table class="table table-bordered table-invoice">
        <tbody>
    @Html.Partial("_CreateOrEdit", Model)
            <tr>
                <td class="width30">
                </td>
                <td>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "Index","Priorities", null,  new { @class="btn"})
</div>
