@model PMTool.Models.Sprint

@{
    ViewBag.Title = "Create | Sprint";
}

<div class="pagetitle">
    <h1>Add Sprint
    </h1>
    <span>Create new sprint below....</span>
</div>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-invoice">
        <tbody>
            <tr>
                <td>
                    @Html.Partial("_CreateOrEdit", Model)
                </td>
            </tr>
            <tr>
             <tr>
                <td class="width30"></td>
                <td>
                    <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
                </td>
            </tr>
               
            </tr>
        </tbody>
    </table>
}

<div>
    @Html.ActionLink("Back to List", "Index","Sprints", null,  new { @class="btn"})
</div>


