@{
    ViewBag.Title = "Home Page";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <span>This is a sample description for dashboard page...</span>
</div>
<!--pagetitle-->

<div class="maincontent">
    <div class="contentinner content-dashboard">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Welcome!</strong> To Project Management Tool.
        </div>
        <!--alert-->

        <div class="row-fluid">
            <div class="span8">
                <ul class="widgeticons row-fluid">
                   <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/edit.png" alt="" /><span>New Project</span></a></li>
                            <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/image.png" alt="" /><span>Add Task</span></a></li>
                            <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/reports.png" alt="" /><span>Edit Profile</span></a></li>
                            <li class="one_fifth"><a href="#">
                                <img src="../../Content/themes/site/img/gemicon/edit.png" alt="" /><span>New Article</span></a>

                            </li>
                             <li class="one_fifth last"><a href=""><img src="img/gemicon/mail.png" alt="" /><span>Check Mail</span></a></li>

                </ul>

                <br />
                
             

            </div>
            <!--span8-->
            <div class="span4">
                <h4 class="widgettitle nomargin">Calendar</h4>
                <div class="widgetcontent bordered" id="datepicker">
                </div>
                <!--widgetcontent-->

                <!--widgetcontent-->

                <!--widgetcontent-->
            </div>
            <!--span4-->
        </div>
        <!--row-fluid-->
    </div>
    <!--contentinner-->
</div>
<!--maincontent-->
