@model IEnumerable<PMTool.Models.Task>

@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript">
    function ShowEffortEntryForm(taskId) {

        var url = jQuery('#ModalpopupShowEffortEntryForm').data('url') + "/" + taskId;
        //alert(url);

        jQuery.ajax({
            url: url,
            //async: false,
            cache: false,
            beforeSend: function () {
                jQuery("#ModalLoading").modal('show');
            },
            success: function (data) {
                //alert("Success..");
                jQuery('#popupcontainerShowEffortEntryForm').html(data);
                jQuery("#ModalLoading").modal('hide');
                jQuery("#ModalpopupShowEffortEntryForm").modal('show');
            },
            error: function (error) {
                jQuery.jGrowl('somethig is wrong', { life: 5000 });
            }
        });
        //alert("Working..");
        return false;
    }


</script>



@*<div class="pagetitle">
    <h1>Dashboard</h1>
    <span>This is a sample description for dashboard page...</span>
</div>*@
<!--pagetitle-->

<div class="maincontent">
    <div class="contentinner content-dashboard">
        <div id="divTaskList" class="">
            @{@Html.Partial("_TaskList", Model)}
        </div>
    </div>
    <!--row-fluid-->
</div>
<!--contentinner-->

<!--maincontent-->

<div id='ModalpopupShowEffortEntryForm' data-url='@Url.Action("AddTimeLog","Home")' class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div id='popupcontainerShowEffortEntryForm'>
    </div>
</div>

<script>
    function Loading() {
        jQuery("#ModalLoading").modal('show');
    }
</script>

<script>
    function Unload() {
        jQuery("#ModalLoading").modal('hide');
    }
</script>
<script>
    function HidePopup(data) {
        jQuery("#ModalLoading").modal('hide');
        var adata = '#' + data;
        jQuery(adata).modal('hide');
        jQuery('.modal-backdrop').remove();
        // jQuery(".modal-backdrop fade in").hide();
    }
    jQuery(document).ready(function () {
        //jQuery(document).ajaxStart(function () {
        //    jQuery("#ModalLoading").modal('show');
        //});
    });
</script>