@{
    ViewBag.Title = "Home Page";
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@

<div class="pagetitle">
    <h1>Dashboard</h1>
    <span>This is a sample description for dashboard page...</span>
</div>
<!--pagetitle-->

<div class="maincontent">
    <div class="contentinner content-dashboard">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Welcome!</strong> To Project Management Tool.
        </div>
        <!--alert-->

        <div class="row-fluid">
            <div class="span8">
                <ul class="widgeticons row-fluid">
                   <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/edit.png" alt="" /><span>New Project</span></a></li>
                            <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/image.png" alt="" /><span>Add Task</span></a></li>
                            <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/reports.png" alt="" /><span>Edit Profile</span></a></li>
                            <li class="one_fifth"><a href="#">
                                <img src="../../Content/themes/site/img/gemicon/edit.png" alt="" /><span>New Article</span></a>

                            </li>
                             <li class="one_fifth last"><a href=""><img src="img/gemicon/mail.png" alt="" /><span>Check Mail</span></a></li>
                        	@*<li class="one_fifth"><a href=""><img src="img/gemicon/calendar.png" alt="" /><span>Events</span></a></li>
                            <li class="one_fifth"><a href=""><img src="img/gemicon/users.png" alt="" /><span>Manage Users</span></a></li>
                            <li class="one_fifth"><a href=""><img src="img/gemicon/settings.png" alt="" /><span>Settings</span></a></li>
                            <li class="one_fifth"><a href=""><img src="img/gemicon/archive.png" alt="" /><span>Archives</span></a></li>
                            <li class="one_fifth last"><a href=""><img src="img/gemicon/notify.png" alt="" /><span>Notifications</span></a></li>*@

                </ul>

                <br />
                
                @*<h4 class="widgettitle">Report Summary</h4>
                        <div class="widgetcontent">
                        	<div id="chartplace2" style="height:300px;"></div>
                        </div>*@<!--widgetcontent-->

                @*<h4 class="widgettitle">Recent Articles</h4>*@
                @*<div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-1"><span class="icon-forward"></span> Technology</a></li>
                                    <li><a href="#tabs-2"><span class="icon-eye-open"></span> Entertainment</a></li>
                                    <li><a href="#tabs-3"><span class="icon-leaf"></span> Fitness &amp; Health</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Submitted By</th>
                                                <th>Date Added</th>
                                                <th class="center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href=""><strong>Excepteur sint occaecat cupidatat non...</strong></a></td>
                                                <td><a href="">admin</a></td>
                                                <td>Jan 02, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Sed ut perspiciatis unde omnis iste natus...</strong></a></td>
                                                <td><a href="">themepixels</a></td>
                                                <td>Jan 02, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Sed ut perspiciatis unde omnis iste natus</strong></a></td>
                                                <td><a href="">johndoe</a></td>
                                                <td>Jan 01, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Quis autem vel eum iure reprehenderi...</strong></a></td>
                                                <td><a href="">amanda</a></td>
                                                <td>Jan 01, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Nemo enim ipsam voluptatem quia</strong></a></td>
                                                <td><a href="">mandylane</a></td>
                                                <td>Dec 31, 2012</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="tabs-2">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Submitted By</th>
                                                <th>Date Added</th>
                                                <th class="center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href=""><strong>Nemo enim ipsam voluptatem quia</strong></a></td>
                                                <td><a href="">mandylane</a></td>
                                                <td>Jan 04, 2012</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Excepteur sint occaecat cupidatat non...</strong></a></td>
                                                <td><a href="">admin</a></td>
                                                <td>Jan 02, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Sed ut perspiciatis unde omnis iste natus...</strong></a></td>
                                                <td><a href="">themepixels</a></td>
                                                <td>Jan 02, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Sed ut perspiciatis unde omnis iste natus</strong></a></td>
                                                <td><a href="">johndoe</a></td>
                                                <td>Jan 01, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Quis autem vel eum iure reprehenderi...</strong></a></td>
                                                <td><a href="">amanda</a></td>
                                                <td>Jan 01, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="tabs-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Submitted By</th>
                                                <th>Date Added</th>
                                                <th class="center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href=""><strong>Quis autem vel eum iure reprehenderi...</strong></a></td>
                                                <td><a href="">amanda</a></td>
                                                <td>Jan 03, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Nemo enim ipsam voluptatem quia</strong></a></td>
                                                <td><a href="">mandylane</a></td>
                                                <td>Dec 31, 2012</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Excepteur sint occaecat cupidatat non...</strong></a></td>
                                                <td><a href="">admin</a></td>
                                                <td>Jan 02, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Sed ut perspiciatis unde omnis iste natus...</strong></a></td>
                                                <td><a href="">themepixels</a></td>
                                                <td>Jan 02, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href=""><strong>Sed ut perspiciatis unde omnis iste natus</strong></a></td>
                                                <td><a href="">johndoe</a></td>
                                                <td>Jan 01, 2013</td>
                                                <td class="center"><a href="" class="btn"><span class="icon-edit"></span> Edit</a></td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>
                            </div><!--#tabs-->
                        </div>*@<!--widgetcontent-->

            </div>
            <!--span8-->
            <div class="span4">
                <h4 class="widgettitle nomargin">Calendar</h4>
                <div class="widgetcontent bordered" id="datepicker">
                </div>
                <!--widgetcontent-->

                <!--widgetcontent-->

                <!--widgetcontent-->
            </div>
            <!--span4-->
        </div>
        <!--row-fluid-->
    </div>
    <!--contentinner-->
</div>
<!--maincontent-->
