.mainwrapper { background-image: url(../img/mainbg2.png); }
.searchwidget input.search-query { border: 0; }
.searchwidget .btn { border: 0; border-left: 1px solid #ddd; }
.searchwidget { border-color: #666; }
.plainwidget { border-color: #333; background: #373737; }
.leftmenu .nav-tabs li:first-child { border-top: 0; background: #333; text-shadow: none; }
.leftmenu .nav-tabs li { border-color: #444; background: none; }
.nav-tabs.nav-stacked > li > a { 
	background: none; color: #eee; text-shadow: 1px 1px rgba(0,0,0,0.2); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.nav-tabs.nav-stacked > li > a:hover,
.leftmenu .nav-tabs.nav-stacked > li > a:hover { 
	background-color: #444 !important; 
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}

.nav-tabs.nav-stacked [class^="icon-"],
.nav-tabs.nav-stacked [class*=" icon-"] {
	background-image: url(../img/glyphicons-halflings-white.png);	
}
.leftmenu .nav-tabs.nav-stacked > li.active > a { color: #333; text-shadow: none; }
.leftmenu .nav-tabs.nav-stacked > li.active > a [class^="icon-"],
.leftmenu .nav-tabs.nav-stacked > li.active > a [class*=" icon-"] {
	background-image: url(../img/glyphicons-halflings.png);	
}
.leftmenu .nav-tabs ul li a { background: #333; color: #ccc; text-shadow: none; }
.leftmenu .nav-tabs ul li a:hover { background: #373737; }
.leftmenu .nav-tabs > .dropdown > a,.leftmenu .nav-tabs > .dropdown > a:hover { background-image: url(../img/arrowdown2.png) !important; }

.headerpanel { background-color: #666; }
.headerpanel { border-color: #777; }
.logopanel, .ui-datepicker-calendar td.ui-datepicker-today a, .tabs2.ui-tabs .ui-tabs-nav li a,
.notification .dropdown-toggle, .userinfo .dropdown-toggle { background-color: #444; }
.logopanel { border-color: #333; }
.showmenu { background-color: #444; }
.showmenu:hover { background-color: #333; }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover a { background-color: #444; }
.nav-pills > .active > a, .nav-pills > .active > a:hover { background-color: #444; }
.listfile li.selected { background: #eee; border-color: #999; }
.ctitle, .accordion2.ui-accordion .ui-state-active a, .tabs2.ui-tabs .ui-tabs-nav { background: #222 !important; }
.tabs2.ui-tabs .ui-tabs-nav, .tabs2.ui-tabs .ui-tabs-nav li:first-child, .tabs2.ui-tabs .ui-tabs-nav li a { border-color: #222; }
h4.ctitle { border-color: #222 !important; }
.tabs2.ui-tabs .ui-tabs-nav li a:hover { background: #333; }
.tabs2.ui-tabs .ui-tabs-nav li.ui-state-active a, .tabs2.ui-tabs .ui-tabs-nav li.ui-state-active a:hover { background: #999; }
.ctitle, .accordion2.ui-accordion .ui-state-active { border-color: #222 !important; }
.nav-list > .active > a, .nav-list > .active > a:hover { background-color: #999; }
.chzn-container .chzn-results .highlighted { background: #666; }
.actionBar a { background: #333; border-color: #222; }
.actionBar a:hover { background: #444; border-color: #333; }
.actionBar a.buttonDisabled:hover { border-color: #ccc; }
.wizard .hormenu li a.selected span.h2, .wizard .hormenu li a.done span.h2,
.wizard .tabbedmenu li a.selected span.h2, .wizard .tabbedmenu li a.selected span,
.wizard .tabbedmenu li a.done span.h2, .wizard .tabbedmenu li a.done span { color: #333; }
.verwizard .verticalmenu a.selected { background: #666; }
.themepixelsSkin .mceMenu .mceMenuItemEnabled a:hover, .fc-event { background: #666 !important; }
.themepixelsSkin .mceMenu .mceMenuItemEnabled a:hover .mceText, .themepixelsSkin .mceMenu .mceMenuItemActive .mceText { background: #666; }

.leftmenu .nav-tabs li:first-child, .leftmenu .nav-tabs li, .leftmenu .nav-tabs li a {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media screen and (max-width: 767px) {
	.searchwidget input.search-query { min-height: 34px !important; }
}


/*Notification CSS*/
.jewelCount span {
background: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
background: -webkit-linear-gradient(top, #fa3c45, #dc0d17);
border: none;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
font-family: "Helvetica Neue", Helvetica, Arial, "segoe ui",tahoma,sans-serif;
font-size: 10px;
-webkit-font-smoothing: antialiased;
font-weight: bold;
height: 14px;
line-height: 14px;
min-width: 12px;
padding: 0;
text-align: center;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}


 .jewelCount span {
 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F03D25;
    border-color: #E23923 #D83722 #C0311E;
    border-image: none;
    border-left: 1px solid #D83722;
    border-radius: 50% !important;
    border-right: 1px solid #D83722;
    border-style: solid;
    border-width: 1px;
    height: 10px;
    padding: 0 1px;
    width: 10px;
}

.fbJewel .jewelCount {
color: #fff;
font-size: 9px;
font-weight: bold;
}


/*Added by najib*/

.label-important,
.badge-important {
  background-color: #E41B17 !important;
}

.label-important[href],
.badge-important[href] {
  background-color: #953b39 !important;
}


.column{
	width:18% !important;
	margin-right:.5% !important;
	min-height:300px !important;
	float:left !important;
    text-align: center;
    background-image: url("../img/mainbg2.png") !important;
}
.column .dragbox{
	margin:5px 2px  20px !important;
	background:#fff !important;
	position:relative !important;
	border:1px solid #ddd !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important;
}
.column .dragbox h2{
	margin:0 !important;
	font-size:12px !important;
	padding:5px !important;
	background:#f0f0f0 !important;
	color:#000 !important;
	border-bottom:1px solid #eee !important;
	font-family:Verdana !important;
	cursor:move !important;
}
.dragbox-content{
	background:#fff !important;
	min-height:100px; margin:5px !important;
	font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em !important;
}
.column  .placeholder{
	background: #f0f0f0 !important;
	border:1px dashed #ddd !important;
}
.dragbox h2.collapse{
	background:#f0f0f0 url('../img/collapse.png') no-repeat top right !important;
    margin:0 !important;
	font-size:12px !important;
	padding:5px !important;
	background:#f0f0f0 !important;
	color:#000 !important;
	border-bottom:1px solid #eee !important;
	font-family:Verdana !important;
	cursor:move !important;
}
.dragbox h2 .configure{
	font-size:11px; font-weight:normal !important;
	margin-right:30px; float:right !important;
}

.column legend
{
     font-size: 13px;
     color:#FFFFFF;
     text-align: center;
     background:#3B6998 !important;
      
}
.modal
{
    width:600px !important;
height:450px !important;
overflow:scroll !important;

}

.headerright {
    display: inline-flex;
    float: right;
    padding: 7px 14px 0 0;
}
.dashboard
{
    min-height:650px !important;
    padding: 15px !important;
}

.ui-datepicker-div {z-index: 9999999 !important;}
.ui-datepicker {
    margin-top: -1px !important;
    padding: 5px !important;
    z-index: 9999999 !important;
}