@model IEnumerable<PMTool.Models.TimeLog>

<p>
    ||@Html.ActionLink("Add Effort", "CreateTimeLog",  new { @taskId = ViewBag.TaskId, @sprintId = ViewBag.SprintId  }, new { @title = "Add Task", @class = "btn btn-primary" })  @*Here id = task id*@
    ||@Html.ActionLink("Back", "MyAssignTask", "Tasks", new { @title = "Back", @class ="btn btn-primary"})
    ||

 </p>

<div id="divTaskList" >
          <table class="table table-bordered dyntable" id="dyntable5">

         @{@Html.Partial("_EffortList", Model)}
        </table>



</div>