@{
    ViewBag.Title = "RegisterStepTwo";
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}

@{
    ViewBag.Title = "Register Step Two";
}

<h3>Registration Instructions!</h3>
<p>
    <b>To complete the registration process look for an email in your inbox that provides further instructions.
    </b>

</p>
