@model PMTool.Models.ResetPasswordModel

@*@{
    ViewBag.Title = "ResetPassword";
}

@{
    Layout = null;
}*@

@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}

@*@{
    ViewBag.Title = "Reset Password";
}*@

<div class="pagetitle">
    <h1>
        Reset Password
    </h1>
    <span>To reset your password enter the user name and press the "Reset Password" button.</span>
</div>

@*<h3>Reset Password</h3>*@
@*<p>To reset your password enter the user name and press the "Reset Password" button.</p>*@
@using (Html.BeginForm())
{
     @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <table class="table table-bordered table-invoice" style="margin-top:10px;">
            
            <tr>
                <td> @Html.LabelFor(model => model.UserName)</td>
                <td>   @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)</td>
            </tr>
          
            <tr>
                <td></td>
                <td><input type="submit" value="Reset Password" class="btn btn-primary" /></td>
            </tr>
        </table>
    </fieldset>
}

