@model PMTool.Models.Label

@{
    ViewBag.Title = "Create | Label";
}
<div class="pagetitle">
    <h1>
        Create Label
    </h1>
    <span>Create a Label below....</span>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="table table-bordered table-invoice">
        <tbody>
            <tr>
                <td>
                    @Html.Partial("_CreateOrEdit", Model)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "Index","Labels", null,  new { @class="btn"})
</div>

